<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Help us grow the future!</h2>
                <hr class="light">
                <p class="text-faded">Our mission is to give students the skills to become the next generation of engineers, machinists, computer experts, business leaders, marketing experts, and scientists all while building a robot.</p>
                <p class="text-faded">Membership and travel is free to all members! We fundraise to allow our team to travel to area competitions and buy supplies for our competition robot. We also volunteer at our local elementary STEM nights, Girl Scout Events, and with the FIRST community in Kansas City.</p>
                <a href="https://donate.frc5126.com" class="btn btn-default btn-xl">Donate Now!</a>
            </div>
        </div>
    </div>
</section>
