<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="service-box">
                    <h1>Cummings Family</h1>
                    <p><i class="fa fa-4x fa-heart wow bounceIn text-primary"></i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Park Hill Foundation</h3>
                    <p><img src="img/sponsors/PHFoundation.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Park Hill School District</h3>
                    <p><img src="img/sponsors/ParkHillSchoolDistrict.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>US Engineering</h3>
                    <p><img src="img/sponsors/USEngineering.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Kansas City Clean Up</h3>
                    <p><img src="img/sponsors/KCCleanup.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Here We Grow Again</h3>
                    <p><img src="img/sponsors/HWGA.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Lambert Engineering</h3>
                    <p><img src="img/sponsors/LambertEng.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Garmin</h3>
                    <p><img src="img/sponsors/Garmin.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>CRB Group</h3>
                    <p><img src="img/sponsors/CRB.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Keyhole Software</h3>
                    <p><img src="img/sponsors/Keyhole.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>VML</h3>
                    <p><img src="img/sponsors/VML.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Seal Team Kansas City</h3>
                    <p><img src="img/sponsors/SealTeamKC.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Polymershapes</h3>
                    <p><img src="img/sponsors/Polymershapes.png" class="img-responsive" alt=""></img></p>
                </div>
            </div>
        </div>
    </div>
</section>
